* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    border-bottom: none;
}


#workspaces button {
    min-width: 20px;
    padding: 0 6px;
    margin: 4px 3px;
    background-color: #fabc2c;
    border-radius: 0;
    border: none;
    transition: all 0.2s ease;
}

#workspaces button.active {
    min-width: 60px;
    background-color: #e35b15;
    color: #1b110e;
    border-radius: 0;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: #e4cbb3;
}

#clock {
    color: #e4cbb3;
}
